<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">HappyPets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#about" th:href="@{/pets/listar}">Mascotas</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 th:text="${titulo}" class="text-secondary border border-top-0 border-left-0 border-right-0"></h1>
    <form th:action="@{/pets/form}" th:object="${pet}" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{nombre}" class="form-control"/>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                       th:errors="*{nombre}"></small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Fecha de nacimiento</label>
            <div class="col-sm-3">
                <input type="date" th:field="*{fechaDeNacimiento}" class="form-control"/>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaDeNacimiento')}"
                       th:errors="*{fechaDeNacimiento}"></small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Especie</label>
            <div class="col-sm-6">
                <select type="text" th:field="*{especies}" class="form-control">
                    <option value="">-Seleccione la especie-</option>
                    <option value="canino">Canino</option>
                    <option value="felino">Felino</option>
                    <option value="reptil">Reptil</option>
                    <option value="roedor">Roedor</option>
                </select>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('especies')}"
                       th:errors="*{especies}"></small>
            </div>
        </div>
        <div class="form-group row">
            <td><input type="submit" value="Registrar Mascota" class="btn btn-primary"/></td>
        </div>
        <input type="hidden" th:field="*{id}"/>
    </form>
</div>
</body>
</html>