<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://dl.dropbox.com/s/6eik2tm4mqhkiyo/css.css?dl=0"/></head>


<body>

<div class="topnav">
  <a style="padding: 1px;"  href="http://localhost:8080"><img src="https://preview.ibb.co/kC2Hpq/logotrans.png" alt="logotrans"height="52" width="327" border="0"></a> 
  <a href="#about" th:href="@{/}">Inicio</a>
  <a class="active" href="/pets/listarO">Mascotas</a>
  <a id="mypets" href="/pets/myPets" style="display:none;">Mis Mascotas</a>
    <a href="/pets/recentAdopt">Adopciones Recientes</a>
    <div class="topnav-right">
    <a id="session" class="nav-linkk" href="/persons/iniciarSesion">Iniciar Sesión</a>
    <a id="reg" class="nav-linkk" href="/persons/form">Registrarse</a>
  </div>
</div>


<div class="container">
    <h1 th:text="${titulo}"></h1>
    <p><a th:href="@{/pets/form}" class="btn btn-default btn-xs"></a></p>
    <table class="table">
        <thead>
        <tr>
            <th>Imagen:</th>
            <th>Nombre:</th>
            <th>Fecha de Nacimiento:</th>
            <th>Especie:</th>
            <th id="adoptT">Adoptar:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet : ${pets}">
            <td ><img style="width:50px;height:50px;" src="https://i.ytimg.com/vi/wBU1llWxq7U/hqdefault.jpg" alt="Italian Trulli"></td>
            <td th:text="${pet.nombre}"></td>
            <td th:text="${pet.fechaDeNacimiento}"></td>
            <td th:text="${pet.especies}"></td>
            <td><a name= "adoptar" class="btn btn-primary btn-xs" th:href="@{/persons/infoProp/} + ${pet.propietario_email}" th:text="'Adoptar'"></a></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
if (typeof(Storage) !== "undefined") {

    	if(!sessionStorage.getItem("emailJ")){
			for (i = 0; i < document.getElementsByName("adoptar").length; i++){
    			document.getElementsByName("adoptar")[i].innerHTML  = "Inicie sesión para poder adoptar";
    			document.getElementsByName("adoptar")[i].href="/persons/iniciarSesion"
    			
			}
    		
    	}else{
    		document.getElementById("reg").innerHTML = "Cerrar Sesión";
    		document.getElementById("reg").href="/cerrarSesion";
    		document.getElementById("session").innerHTML = "Mi Cuenta";
    		document.getElementById("session").href="/persons/form/".concat(sessionStorage.getItem("emailJ"));
    		document.getElementById("mypets").href="/pets/myPets/".concat(sessionStorage.getItem("emailJ"));
    		document.getElementById("mypets").style.display="initial";
    	

    		
    		if(!esMayorDeEdad()){
    			for (i = 0; i < document.getElementsByName("adoptar").length; i++){
	    			document.getElementsByName("adoptar")[i].onclick = menorDeEdad;	
	    			document.getElementsByName("adoptar")[i].href="/pets/listarO"; 
    			}
    		}
    	}
} else {
    document.getElementById("user").innerHTML = "Sorry, your browser does not support Web Storage...";
}
function esMayorDeEdad() {
    var d = new Date();
    var n = d.getFullYear();
    if(n-sessionStorage.getItem("fnacJ").split("-")[0]>18){
    	return true;
    }
}
function menorDeEdad() {
    alert("Lo sentimos! Debido a que eres menor de edad, no puedes adoptar mascotas.");
}

</script>
</body>
</html>